<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"/>
    <listeners>
        <listener class-name="com.practicetestautomation.listeners.ExtentListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ereno/IdeaProjects/LoginFunctionalityTesting/src/test/java/com/practicetestautomation/tests/LoginTest.java">

        <classes>
            <class name="com.practicetestautomation.tests.LoginTest">
                <methods>
                    <include name="LoginTests"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>